html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
.fl{float:left;}
.fr{float:right;}
.clearfix {*zoom: 1;}
.clearfix:before, .clearfix:after {display: table; content: ""; line-height: 0; }
.clearfix:after { clear: both;}

@font-face {
    font-family: 'hero';
    src: url('../font/hero_light-webfont.eot');
    src: url('../font/hero_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/hero_light-webfont.woff') format('woff'),
         url('../font/hero_light-webfont.ttf') format('truetype'),
         url('../font/hero_light-webfont.svg#hero_lightlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
	background: #fdfdfd url(../img/FONDO-DV.jpg) no-repeat;
	font-family: 'hero', 'helvetica neue', Helvetica, Arial, sans-serif;
	color: #15384e;
}
.container{
	width:960px;
	margin:0 auto;
}
#header{
	background: url(../img/header-bg.png) repeat-x top;
	text-align: center;
}
#header .logo{
	margin-top:24px;
}
.site-body{
	min-height: 400px;
	text-align: center;
}
.box{
	width:960px;
	margin:30px auto;
	padding:0;
	text-align: center;
	background: #fefefe;
	-moz-box-shadow:0 0 10px #cad8e1;
	-webkit-box-shadow:0 0 10px #cad8e1;
	box-shadow:0 0 10px #cad8e1;
}
.box h1{
	font-size: 32px;
	padding:10px;
	font-weight: 700;
	line-height: 44px;
}
.box h2{
	font-size: 28px;
	padding:30px;
	font-weight: 300;
	line-height: 44px;
}
.box p{
        text-align: justify;
	padding: 30px;
	font-size:18px;
        margin: 0 0 1em;
        line-height: 1.5em;
}
.box p.blue{
	background: #15384e;
	color:#fefefe;
	padding:30px;
	font-size:26px;
        text-align: center;
}
a.btn{
	display:inline-block;
	margin:10px 0 35px;
	background: #23bfc5;
	color:#fff;
	font-size:20px;
	text-decoration: none;
	padding: 12px 30px 10px;
	-moz-box-shadow:0 5px 5px #ADCEDF;
	-webkit-box-shadow:0 5px 5px #ADCEDF;
	box-shadow:0 5px 5px #ADCEDF;
	text-transform: uppercase;
	-webkit-transform: all 0.5s ease;
	   -moz-transform: all 0.5s ease;
	    -ms-transform: all 0.5s ease;
	     -o-transform: all 0.5s ease;
	        transform: all 0.5s ease;
}
a.btn:hover{
	background:#2FCACF;
	-moz-box-shadow:0 5px 5px #ADCEDF, inset 0 0 25px #41A0DB;
	-webkit-box-shadow:0 5px 5px #ADCEDF, inset 0 0 25px #41A0DB;
	box-shadow:0 5px 5px #ADCEDF, inset 0 0 25px #41A0DB;
}

#footer{
    background: #fff;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 30px;
	padding: 20px 0 20px;
	-moz-box-shadow:0 0 10px #cad8e1;
	-webkit-box-shadow:0 0 10px #cad8e1;
	box-shadow:0 0 10px #cad8e1;
}

#footer p{
	margin-top: 30px;
}
.grid{
	text-align: center;
	float: left;
	width:300px;
	padding:0 10px;
}

.speakers{
   width: 900px;
   margin: 10px 25px;
   padding-top: 20px;
}

.speakers div.speaker{
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 150px;
    /*border: 1px blue solid;*/
}

div.speaker div.picture{
    width: 110px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    /*border: 1px red solid;*/
    display: inline-block;
    vertical-align: center;
}

div.speaker div.summary{
    display: inline-block;
    width: 600px;
    vertical-align: top;
    /*border: 1px green solid;*/
}

div.summary p{
    vertical-align: top;
}

div.summary p a{
    font-weight: bold;
    text-decoration: none;
    color: #125DB1;
}
.mapa{
    margin: 10px auto 20px auto;
    display: block;
}
